.title
{
	  opacity: 1;
	  animation-name: fadeInOpacity;
	  animation-iteration-count: 1;
  	animation-timing-function: ease-in;
  	animation-duration: 3s;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-size: 1.25vw;

    text-align: center;
    width: 25%;
    margin: auto;

    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        black, 
        rgba(75, 75, 75)
      ) 1 100%;
      
}

a:visited { text-decoration: none; color: black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }

@keyframes fadeInOpacity 
{
  0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.sub 
{
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;

  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  font-size: 0.75vw;

  text-align: center;
  width: 12%;
  margin: auto;
  right: 20%;

  position: absolute;

  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      black, 
      rgba(75, 75, 75)
    ) 1 100%;
}

.sub2
{
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;

  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  font-size: 0.75vw;

  text-align: center;
  width: 12%;
  margin: auto;
  left: 20%;

  position: absolute;

  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      black, 
      rgba(75, 75, 75)
    ) 1 100%;
}

.learned
{
    width: 15%;
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-size: 1vw;
    background: rgb(0, 0, 0, 0.35);
    padding-left:10px;
    padding-right:10px;
    padding-top: 4px;
    padding-bottom: 4px;

    border: rgb(0, 0, 0, 0);
    border-radius: 25px;}

body
{
    background: rgb(189,195,199);
    background: radial-gradient(circle, rgba(189,195,199,1) 0%, rgba(44,62,80,1) 100%); 
}